h1 {
font-family: Arial, Helvetica, sans-serif;
font-size: 8vw;
text-align: right;
margin-top: 10vw;
}

hr {
    width: 30vw;
    margin-left: 68vw;
  }

.container-y {
border: solid;
border-left: none;
border-color: rgb(211, 172, 0);
width: 2vw;
float: left;
}

.animate__animated.animate__fadeIn {
    --animate-duration: 2s;
  }

  h4{
      text-align: left;
      font-family: Arial, Helvetica, sans-serif;
      margin-left: 3vw;
  }

  a {
    text-decoration: none;
    color: inherit;
}